@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
:root {
  --Michroma-Font: "Michroma", sans-serif;
  --BeauRivage-Font: "Beau Rivage", cursive;
  --White: #ffffff;
  --Black: #1d1c1b;
  --NavyBlue: #004e92;
  --LightBlue: #3498db;
  --DarkGrey: #555;
  --DarkBlue: #000428;
  --SuperDarkBlue: #04144a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--Michroma-Font);
  font-size: .9rem;
}

body {
  background-image: linear-gradient(90deg, #000428, #004E92);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: flex;
  align-items: center;

}

.top-nav .title-category {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: rgb(235, 235, 235);
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: rgb(232, 232, 232);
}

.logo-text h6{
  line-height: 0;
}

.logo {
  width: 70px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

}

.main-content {
  background-color: none;
}

.slider-container {
  position: relative;
}

.slider {
  width: 500px;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slides div {
  width: 100%;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}


.scoring-container {
  border: 1px solid white;
  background-color: rgb(155, 155, 155);
  border-radius: 9px;
  color: rgb(0, 0, 0);
  overflow: hidden;
  text-align: center;
  overflow-y: auto;
  max-height: 80vh;
  padding-bottom: 10px;
}

.scoring-container table thead tr th {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

